.books-list {
  text-align: center;
  height: fit-content;
  margin-top: 20px;
  // padding-top: 10px;
  :hover {
    background-color: #eaedf5;
  }
}

.book-create {
  margin: 10px;
  background-color: wheat;
  height: calc(100vh - 300px);
}

.shelf-control-book-select {
  border: 1px solid;
  padding-right: 30px;
  padding-left: 30px;
  margin: 3px;
}
