@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Cormorant+Garamond:wght@300&display=swap");

.home-categories {
  text-align: center;
  margin-top: 30px;
  padding: 5px 20px 5px 20px;
}

// header of the table
thead {
  text-align: center;
  background-color: #eaedf5;
  :nth-child(2) {
    width: 200px;
  }
  // author
  :nth-child(3) {
    width: 200px;
  }
}

th {
  width: 700px;
}

// defines the width of the category column
th:first-of-type {
  width: 10px;
  min-width: 10px;
}

// each line of the table
tr {
  border: solid 1px rgb(230, 229, 235);
}

// each field of the body's table
td {
  padding: 5px;
  text-align: center;
}

// title field
td:first-of-type {
  font-weight: bolder;
}

tr:hover {
  background-color: #eaedf5;
}
