@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Cormorant+Garamond:wght@300&display=swap");

h3 {
  text-align: center;
  text-shadow: 2px 2px black;
  background-color: #5d8d89;
  border-radius: 100px;
  color: #927e43;
  background-color: #80767600;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

.home-categories {
  text-align: center;
  margin-top: 30px;
  padding: 5px 20px 5px 20px;
}

.category-title {
  :hover {
    color: rgba(19, 88, 236, 0.589);
    background-color: #80767600;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  }
}

.table-category {
  width: 100%;
  text-align: center;
  background-color: blue;
  // padding: px;
}

thead {
  text-align: center;
}

tr {
  text-align: center;
  border: solid 1px black;
}

tr:first-child {
  background-color: #eaedf5;
}

tr:hover {
  background-color: #eaedf5;
}

td {
  width: 800px;
  // border: solid 1px black;

  text-align: center;
  vertical-align: center;
}

td:first-of-type {
  padding: 10px;
  width: 200px;
  font-weight: bolder;
}

td:nth-child(2) {
  width: 200px;
}
