.shelf {
  border: solid 1px;
  background-color: #ffca6da6;
  margin: 5px;
  border-radius: 20px;
}

.book-pic {
  margin: 10px;
}

.category {
  height: 30px;
  margin-right: 15px;
}

.category-small-screen {
  position: absolute;
  top: 0px;
  right: 10px;
}

.book-item-hover {
  :hover {
    background-color: #f3bd5f;
    border-radius: 20px;
  }
}

.word-break {
  word-break: break-all;
}
