.shelf {
  border: solid 1px;
  background-color: beige;
  margin: 5px;
}

.book-pic {
  margin: 10px;
}

.category {
  background-color: whitesmoke;
  height: 20px;
}

.category-small-screen {
  position: absolute;
  top: 0px;
  right: 10px;
}

.book-item-hover {
  border: solid 1px;
  :hover {
    background-color: #eaf1f1;
  }
}

// .not-inherit {
//   border: none;
//   :hover {
//     border: none;
//   }
// }
