.book-description {
  padding: 10px;
}

.edit-item-button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.edit-description-textarea {
  width: 100%;
  height: 200px;
}

.edit-select-category {
  width: 100px;
}

.edit-border {
  border: 1px solid blue;
  margin: 5px;
}

.word-break {
  word-break: break-all;
}

.description {
  width: 100%;
}

.category {
  background-color: whitesmoke;
  height: 20px;
  :hover {
    background-color: yellow !important;
  }
}
