.comment-item {
  white-space: pre;
  min-height: 25px;
  border-bottom: solid 1px;
  width: calc(100% - 55px);
  //   word-break: break-all;
}

.edit-border-comment {
  outline: none;
  border-bottom: solid 1px blue;
}
