.comments-container {
  background-color: whitesmoke;
  padding: 20px;
}

.comment-text-area {
  height: 200px;
  width: 100%;
}

.comment-item {
  background-color: white;
  border-bottom: solid 1px;
}
